# Arquivos gerados
dados/*.csv

# docs/index.html
# docs/catalogo_sennafix.pdf
# docs/assets/qrcode_whatsapp.png

# PDFs de entrada
entrada/*.pdf
entrada/grupos/*.pdf

# Windows
Desktop.ini
desktop.ini

# Pasta de PDFs de entrada
entrada/lista_de_produtos/

# Python
__pycache__/
*.pyc

# Ambiente virtual
.venv/
venv/

# IDE
.vscode/
.idea/